<template>
	<div>
		<h1>Ведите домен:</h1>
		<form @submit.prevent="submit">
			<input type="textarea" v-model="name"/>
			<button>Проверить</button>
		</form>
		<b>{{result}}</b>
	</div>
</template>

<script>
import axios from 'axios'
export default {
	data() {
		return {
			name: null,
			result: null
		}
	},
  	methods: {
		submit() {
			axios.get(`http://localhost:8888/${this.name}`)
				.then((response) => {
					this.result = response.data.buzy;
				})
		},
	},
};
</script>

<style>
	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}
	input,
	button {
		height: 40px;
		width: 400px;
		font-size: 18px;
	}
</style>